    body {
        font-family: Roboto, sans-serif;
    }


    .navbar {
        background-color: #e15f41;
        position: sticky;
        top: 0;
        z-index: 1030;
        transition: border-bottom 0.3s ease;
    }


    #cabecalho .nav .nav-link,
    .navbar-brand,
    .navbar-brand:hover,
    .nav-cardapio .nav-link.active:hover {
        color: #fff;
    }

    #cabecalho .nav .nav-link.active {
        background-color: transparent; 
        color: #fff; 
        border-bottom: 3px solid #fff; 
    }

    .navbar-toggler {
        background-color: #ffeae6;
    }

    .section-title {
        font-family: Pacifico, cursive;
    }

    .origem-bg,
    #cardapio {
        background-color: #ffeae6;
    }

    .text-colored {
        color: #e15f41;
    }

    .redes-sociais-contatos {
        color: black;
    }

    .nav-cardapio .nav-link.active,
    #fale-conosco button {
        background-color: #e15f41;
        color: #fff;
    }

    .nav-cardapio .nav-link:hover {
        color: #e15f41;
    }

    .social-links li {
        list-style: none;
        display: inline;
        margin-right: 10px; 
    }

    .social-links a {
        text-decoration: none;
    }

    @media (max-width: 767px) {
    }
    

    .horario--e-reservas {
        background-image: url(./Logo.png);
    }

    .list-no-style li {
        list-style-type: none;
        text-align: center;
        text-decoration: none;
    }

    .img-horario-reserva {
        max-width: 100%;
        height: auto;
        max-height: 600px;
        border-radius: 8px;
        object-fit: cover;
        justify-content: space-between;
    }

.container-card {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card {
    width: calc(25% - 1.125rem);
    height: 220px;
    overflow: hidden;
    border-radius: 0.75rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    cursor: pointer;
    background-color: white;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.container-card:hover > .card:not(:hover) {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        height: 180px;
    }
}
