    body {
        font-family: Roboto, sans-serif;
    }


.navbar {
    background-color: rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 1030;
    transition: background-color 0.3s ease;
    color: white; 
}


.fundo1 {
    background: linear-gradient(to bottom, #1b6ca7 0%, #442bdb 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}

.fundo2 {
    background: linear-gradient(to bottom, #442bdb 0%, #89223b 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}

.fundo3 {
    background: linear-gradient(to bottom, #89223b 0%, #9c791d 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}

.fundo4 {
    background: linear-gradient(to bottom, #9c791d 0%, #4f2ac3 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}

.fundo5 {
    background: linear-gradient(to bottom, #4f2ac3 0%, #1b6ca7 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}

.fundo6 {
    background: linear-gradient(to bottom, #1b6ca7 0%, #442bdb 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: none;
}



    #cabecalho .nav .nav-link,
    .navbar-brand,
    .navbar-brand:hover,
    .nav-cardapio .nav-link.active:hover {
        color: #fff;
    }

    #cabecalho .nav .nav-link.active {
        background-color: transparent; 
        color: #fff; 
        border-bottom: 3px solid #fff; 
    }

    .navbar-toggler {
        background-color: #ffeae6;
    }

    .section-title {
        font-family: Pacifico, cursive;
    }

    .origem-bg,
    #horarios-e-reservas,
    #contactos {
        background-color: #ffeae6;
    }

    .text-colored {
        color: #e15f41;
    }

    .redes-sociais-contatos {
        color: black;
    }

    .nav-cardapio .nav-link.active,
    #fale-conosco button {
        background-color: #e15f41;
        color: #fff;
    }

    .nav-cardapio .nav-link:hover {
        color: #e15f41;
    }

    .social-links li {
        list-style: none;
        display: inline;
        margin-right: 10px; 
    }

    .social-links a {
        text-decoration: none;
    }

    @media (max-width: 767px) {
    }
    

    .horario--e-reservas {
        background-image: url(./Logo.png);
    }

    .list-no-style li {
        list-style-type: none;
        text-align: center;
        text-decoration: none;
    }

    .img-horario-reserva {
        max-width: 100%;
        height: auto;
        max-height: 600px;
        border-radius: 8px;
        object-fit: cover;
        justify-content: space-between;
    }

.container-card {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card {
    width: calc(25% - 1.125rem);
    height: 450px;
    overflow: hidden;
    border-radius: 0.75rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    cursor: pointer;
    background-color: white;b
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.container-card:hover > .card:not(:hover) {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        height: 380px;
    }
}

.menu-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;             
    padding: 0;
    margin: 0;
}

